Repository dnd-side-project/dnd-7th-1-iOS, pull requests merged in 2022-12, with the labels that each got.

#98 Add/#97 annotation profile image
  NEMODU/NEMODU/Screen/Map/ViewController/DetailMapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Share/View/MiniMapVC.swift
Labels: 윤경, 지도, View, Network

#99 Feat/#96 진행 중인 챌린지 페이지 상세정보
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/ChallengeType.swift
  NEMODU/NEMODU/Global/Network/urlResource.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Challenge/Response/ProgressChallengeDetailResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeDetail/ChallengeDetailVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeDetail/DoneChallengeDetailVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeDetail/InvitedChallengeDetailVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeDetail/ProgressChallengeDetailVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/InvitedFriendsTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/ChallengeDetailTVFV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/ChallengeDetailTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/InvitedChallengeDetailTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/ProgressChallengeDetailTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/AccumulateRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/AreaRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingTV/RankingUserTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/StepRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/Challenge/ProgressChallengeDetailVM.swift
  NEMODU/NEMODU/Support/Assets.xcassets/update.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/update.imageset/update@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/update.imageset/update@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/update.imageset/update@3x.png
Labels: 희재, 랭킹/챌린지, Feature, View, Network, 챌린지

#101 Feat/#100 진행완료 챌린지 서버연결
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Challenge/Response/ChallengeHistoryDetailResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeDetail/ChallengeHistoryDetailVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/ChallengeDetailTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/ChallengeHistoryDetailTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/Challenge/ChallengeHistoryDetailVM.swift
Labels: 희재, 랭킹/챌린지, Network, 챌린지
