Repository dnd-side-project/dnd-7th-1-iOS, pull requests merged in 2022-10, with the labels that each got.

#66 Add/#65 mypage calendar
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/DateType.swift
  NEMODU/NEMODU/Global/Extension/Date+.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/Calendar/DayCVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Request/EventListRequestModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/EventListResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDataVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/MyRecordDataVM.swift
Labels: 윤경, 마이페이지, Feature, Network

#70 Feat/#68 edit record message view
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Mypage/Model/Request/EditMemoRequestModel.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/EditRecordMemoVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDetailVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/EditRecordMemoVM.swift
Labels: 윤경, 마이페이지, Feature, View, Network

#72 Feat/#71 nemodu text field
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Share/View/NemoduTextField.swift
  NEMODU/NEMODU/Screen/Share/View/NicknameCheckView.swift
Labels: 윤경, Feature, View

#74 Feat/#69 my profile view
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Extension/UIViewController+.swift
  NEMODU/NEMODU/Screen/Login/ViewModel/UserInfoSettingVM.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/FriendProfileBottomSheet.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MyProfileResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/View/ArrowBtn.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyProfileVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageVC.swift
  NEMODU/NEMODU/Screen/Share/View/ProfileImageVC.swift
  NEMODU/NEMODU/Support/Info.plist
  NEMODU/Podfile
  NEMODU/Podfile.lock
Labels: 윤경, 마이페이지, Feature, View, Network

#77 Feat/#76 friend list view
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Utils/MenuBar/TabCVC.swift
  NEMODU/NEMODU/Global/Utils/MenuBar/TabView.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/FriendListTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/FriendRequestTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/RecommendFriendTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/ViewMoreTVC.swift
  NEMODU/NEMODU/Screen/Mypage/View/NicknameSearchBar.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/FriendListVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/FriendsVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/RecommendListVC.swift
  NEMODU/NEMODU/Support/Assets.xcassets/edit_Friends.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/edit_Friends.imageset/edit_Friends.png
  NEMODU/NEMODU/Support/Assets.xcassets/edit_Friends.imageset/edit_Friends@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/edit_Friends.imageset/edit_Friends@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/friendAdd.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/friendAdd.imageset/friendAdd.png
  NEMODU/NEMODU/Support/Assets.xcassets/friendAdd.imageset/friendAdd@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/friendAdd.imageset/friendAdd@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/friendAdded.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/friendAdded.imageset/friendAdded.png
  NEMODU/NEMODU/Support/Assets.xcassets/friendAdded.imageset/friendAdded@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/friendAdded.imageset/friendAdded@3x.png
Labels: 윤경, 마이페이지, Feature, View

#78 Feat/#56 랭킹 목록 수정 및 리팩토링
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Utils/MenuBar/MenuBarCV.swift
  NEMODU/NEMODU/Global/Utils/MenuBar/MenuBarCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Ranking/Request/AreaRankingListRequestModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/View/ChallengeRankingMenuBar/ChallengeRankingMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/View/ChallengeRankingMenuBar/ChallengeRankingMenuBarCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/View/ListTypeMenuBar/ListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/View/ListTypeMenuBar/ListTypeMenuBarCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/ChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/ChallengeRankingVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/AccumulateRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/AreaRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingContainerCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingTV/RankingUserTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingTV/RankingWeeksNavigationTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/StepRankingListVC.swift
Labels: 희재, 랭킹/챌린지, Feature, View, Refactor, 랭킹

#81 Feat/#79 랭킹목록 서버 재연결
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/DateType.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Ranking/Request/RankingListRequestModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Ranking/Response/AccumulateRankingListResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Ranking/Response/AreaRankingListResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Ranking/Response/StepRankingListResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/ChallengeRankingVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/AccumulateRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/AreaRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingTV/RankingUserTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/StepRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/ChallengeRankingVM.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/Ranking/AccumulateRankingListVM.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/Ranking/AreaRankingListVM.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/Ranking/StepRankingListVM.swift
Labels: 희재, 랭킹/챌린지, Network, Refactor, 랭킹

#83 Add/#82 user data model
  NEMODU/NEMODU/Global/Extension/UIScrollView+.swift
  NEMODU/NEMODU/Screen/Login/Model/UserDataModel.swift
  NEMODU/NEMODU/Screen/Login/ViewController/UserInfoSettingVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/FriendsVC.swift
Labels: 윤경, Feature, Network, 로그인/회원가입

#85 Feat/#55 주간챌린지 생성 서버연결
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/AlertType.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Challenge/Request/CreateChallengeRequestModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Challenge/Response/CreatChallengeResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/ChallengePeriodVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateChallengeSuccuessVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/CreateAccumulateChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/CreateWeekChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/CreateWidenChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/Challenge/CreateWeekChallengeVM.swift
  NEMODU/NEMODU/Screen/Share/View/AlertVC.swift
Labels: 희재, 랭킹/챌린지, Refactor, 챌린지
