Repository dnd-side-project/dnd-7th-1-iOS, pull requests merged in 2022-11, with the labels that each got.

#88 Add/#75 api model
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/FriendStatusType.swift
  NEMODU/NEMODU/Global/Extension/UIString+.swift
  NEMODU/NEMODU/Screen/Login/Model/UserDataModel.swift
  NEMODU/NEMODU/Screen/Login/ViewController/EnterVC.swift
  NEMODU/NEMODU/Screen/Map/Cell/TVC/ProceedingChallengeTVC.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ChallengeBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ChallengeElementResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ProfileResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/UserBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/FriendProfileBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MyRecordListResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MypageUserDataResponse.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/MyRecordDataVM.swift
Labels: 윤경, Network

#90 Feat/#84 location agreement view
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Login/ViewController/EnterVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/LocationSettingVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/UserInfoSettingVC.swift
  NEMODU/NEMODU/Support/Assets.xcassets/locationPrivate.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/locationPrivate.imageset/locationPrivate.png
  NEMODU/NEMODU/Support/Assets.xcassets/locationPrivate.imageset/locationPrivate@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/locationPrivate.imageset/locationPrivate@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/locationPublic.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/locationPublic.imageset/locationPublic.png
  NEMODU/NEMODU/Support/Assets.xcassets/locationPublic.imageset/locationPublic@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/locationPublic.imageset/locationPublic@3x.png
Labels: 윤경, Feature, View, Network, 로그인/회원가입

#93 Chore/#91 home refresh btn
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Map/View/RefreshBtnView.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Support/Assets.xcassets/refresh.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/refresh.imageset/refresh.png
  NEMODU/NEMODU/Support/Assets.xcassets/refresh.imageset/refresh@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/refresh.imageset/refresh@3x.png
Labels: 윤경, 지도, View, Refactor

#86 Feat/#80 챌린지 목록 리팩토링 및 서버연결
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Extension/Date+.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Challenge/Response/ProgressAndDoneChallengeListResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Challenge/Response/WaitChallengeListResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/ChallengeDoingTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/ChallengeFinishTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/ChallengeListTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/ChallengeWaitingTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/ChallengeListTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/ChallengeRankingVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/Challenge/ChallengeVM.swift
Labels: 희재, 랭킹/챌린지, Network, Refactor, 챌린지

#94 Feat/#73 edit profile view
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/NicknameType.swift
  NEMODU/NEMODU/Global/Extension/UIImage+.swift
  NEMODU/NEMODU/Global/Extension/UIString+.swift
  NEMODU/NEMODU/Global/Extension/UIView+.swift
  NEMODU/NEMODU/Global/Network/APIService.swift
  NEMODU/NEMODU/Global/Network/APISession.swift
  NEMODU/NEMODU/Global/Network/AuthAPI.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/InvitedChallengeTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/View/FriendListView.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/View/SelectFriendsTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingTV/RankingUserTVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/NicknameVC.swift
  NEMODU/NEMODU/Screen/Login/ViewModel/UserInfoSettingVM.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ChallengeBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ProfileResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/UserBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/View/FriendAnnotationView.swift
  NEMODU/NEMODU/Screen/Map/View/MyAnnotationView.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/FriendProfileBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/FriendListTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/FriendRequestTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/RecommendFriendTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Request/EditProfileRequestModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/EditProfileResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MyProfileResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MypageUserDataResponse.swift
  NEMODU/NEMODU/Screen/Mypage/View/ProfileView.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/EditProfileVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyProfileVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageVC.swift
  NEMODU/NEMODU/Screen/Share/View/MiniMapVC.swift
  NEMODU/NEMODU/Screen/Share/View/NemoduTextField.swift
  NEMODU/NEMODU/Screen/Share/View/NemoduTextView.swift
  NEMODU/NEMODU/Screen/Share/View/NicknameCheckView.swift
  NEMODU/NEMODU/Screen/Share/View/ProfileImageVC.swift
  NEMODU/NEMODU/Support/Assets.xcassets/Camera.imageset/Camera.png
  NEMODU/NEMODU/Support/Assets.xcassets/Camera.imageset/Camera@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Camera.imageset/Camera@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Camera.imageset/Contents.json
  NEMODU/NEMODU/Support/Info.plist
Labels: 윤경, 마이페이지, Feature, View, Network
