Repository dnd-side-project/dnd-7th-1-iOS, pull requests merged in 2022-08, with the labels that each got.

#7 Feat/#6 map view UI
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Map/ViewController/MapFilterBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Support/Info.plist
  NEMODU/Podfile
  NEMODU/Podfile.lock
Labels: 윤경, 지도, Feature, View

#10 [CHORE] pod install을 통한 프로젝트 빌드 실패 문제해결
  NEMODU/Podfile.lock
Labels: bug, 희재

#11 Feat/#8 walking view UI
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Extension/UIButton+.swift
  NEMODU/NEMODU/Screen/Map/Cell/TVC/ProceedingChallengeTVC.swift
  NEMODU/NEMODU/Screen/Map/Model/ProceedingChallengeDataSource.swift
  NEMODU/NEMODU/Screen/Map/Share/RecodeView.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/ChallengeListBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/MapFilterBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapFilterBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/WalkingVM.swift
  NEMODU/NEMODU/Screen/TabBar/NEMODUTBC.swift
  NEMODU/NEMODU/Support/Assets.xcassets/hideBlocks.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/hideBlocks.imageset/hideBlocks.png
  NEMODU/NEMODU/Support/Assets.xcassets/hideFriends.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/hideFriends.imageset/hideFriends.png
  NEMODU/NEMODU/Support/Assets.xcassets/pause.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/pause.imageset/pause.png
  NEMODU/NEMODU/Support/Assets.xcassets/play.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/play.imageset/play.png
  NEMODU/NEMODU/Support/Assets.xcassets/showBlocks.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/showBlocks.imageset/showBlocks.png
  NEMODU/NEMODU/Support/Assets.xcassets/showFriends.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/showFriends.imageset/showFriends.png
  NEMODU/NEMODU/Support/Assets.xcassets/stop.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/stop.imageset/stop.png
  NEMODU/Podfile.lock
Labels: 윤경, 지도, Feature, View

#13 Add/#12 font color
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/NaviType.swift
  NEMODU/NEMODU/Global/Extension/UIColor+.swift
  NEMODU/NEMODU/Global/Extension/UIFont+.swift
  NEMODU/NEMODU/Global/Font/Pretendard-Black.otf
  NEMODU/NEMODU/Global/Font/Pretendard-Bold.otf
  NEMODU/NEMODU/Global/Font/Pretendard-ExtraBold.otf
  NEMODU/NEMODU/Global/Font/Pretendard-Medium.otf
  NEMODU/NEMODU/Global/Font/Pretendard-Regular.otf
  NEMODU/NEMODU/Global/Font/Pretendard-SemiBold.otf
  NEMODU/NEMODU/Screen/Share/NavigationBar.swift
  NEMODU/NEMODU/Support/Info.plist
Labels: 윤경, Feature, View

#15 Feat/#14 recode complete view UI
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Class/BaseViewController.swift
  NEMODU/NEMODU/Global/Extension/UIButton+.swift
  NEMODU/NEMODU/Global/Extension/UIScrollView+.swift
  NEMODU/NEMODU/Global/Extension/UIStackView+.swift
  NEMODU/NEMODU/Global/Extension/UITextView+.swift
  NEMODU/NEMODU/Screen/Map/Cell/TVC/ProceedingChallengeTVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/ChallengeListBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/MapFilterBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/RecodeResultVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Share/MiniMapVC.swift
  NEMODU/NEMODU/Screen/Share/NavigationBar.swift
  NEMODU/NEMODU/Screen/Share/NemoduTextView.swift
  NEMODU/NEMODU/Screen/Share/RecodeStackView.swift
  NEMODU/NEMODU/Screen/Share/RecodeView.swift
  NEMODU/NEMODU/Support/Assets.xcassets/challenge.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/challenge.imageset/challenge.png
  NEMODU/NEMODU/Support/Assets.xcassets/filter.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/filter.imageset/filter.png
  NEMODU/NEMODU/Support/Assets.xcassets/location.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/location.imageset/location.png
  NEMODU/NEMODU/Support/Assets.xcassets/magnification.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/magnification.imageset/magnification.png
  NEMODU/NEMODU/Support/Info.plist
  NEMODU/Podfile
  NEMODU/Podfile.lock
Labels: 윤경, 지도, Feature, View

#21 [FEAT]: countdownView 구현
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Utils/Lottie/countdown.json
  NEMODU/NEMODU/Screen/Map/ViewController/CountdownVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/Podfile
  NEMODU/Podfile.lock
Labels: 윤경, 지도, Feature, View

#23 Feat/#22 main view network
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/ChallengeColorType.swift
  NEMODU/NEMODU/Global/Extension/UIColor+.swift
  NEMODU/NEMODU/Global/Extension/UIFont+.swift
  NEMODU/NEMODU/Global/Network/APIError.swift
  NEMODU/NEMODU/Global/Network/urlResource.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Challenge/InvitedChallengeTV/InvitedChallengeTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Challenge/InvitedChallengeTV/NoInvitedChallengeTVFV.swift
  NEMODU/NEMODU/Screen/Map/Cell/TVC/ProceedingChallengeTVC.swift
  NEMODU/NEMODU/Screen/Map/Model/DataSource/ProceedingChallengeDataSource.swift
  NEMODU/NEMODU/Screen/Map/Model/Request/Block.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ChallengeBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/MainMapResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/UserBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/View/FriendAnnotationView.swift
  NEMODU/NEMODU/Screen/Map/View/MyAnnotationView.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/ChallengeListBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/FriendProfileBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/RecordResultVC.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/MainVM.swift
  NEMODU/NEMODU/Screen/Share/Model/Matrix.swift
  NEMODU/NEMODU/Screen/Share/View/LoadingView.swift
  NEMODU/NEMODU/Screen/Share/View/MiniMapVC.swift
  NEMODU/NEMODU/Screen/Share/View/NavigationBar.swift
  NEMODU/NEMODU/Screen/Share/View/NemoduTextView.swift
  NEMODU/NEMODU/Screen/Share/View/ProfileRecordStackView.swift
  NEMODU/NEMODU/Screen/Share/View/ProfileRecordView.swift
  NEMODU/NEMODU/Screen/Share/View/RecordStackView.swift
  NEMODU/NEMODU/Screen/Share/View/RecordView.swift
  NEMODU/NEMODU/Support/Assets.xcassets/defaultThumbnail.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/defaultThumbnail.imageset/Group 7002.png
  NEMODU/NEMODU/Support/Assets.xcassets/defaultThumbnail.imageset/Group 7002@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/defaultThumbnail.imageset/Group 7002@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/defaultThumbnail.imageset/defaultTumbnail.png
Labels: 윤경, 지도, Feature, View, Network

#25 Feat/#24 profile challenge list network
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/ChallengeColorType.swift
  NEMODU/NEMODU/Global/Extension/UIString+.swift
  NEMODU/NEMODU/Screen/Map/Cell/TVC/ProceedingChallengeTVC.swift
  NEMODU/NEMODU/Screen/Map/Model/DataSource/ProceedingChallengeDataSource.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ChallengeElementResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/MainMapResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ProfileResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/UserBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/View/FriendAnnotationView.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/ChallengeListBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/FriendProfileBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/ChallengeListVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/FriendProfileVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/MainVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/MapVM.swift
  NEMODU/NEMODU/Support/Assets.xcassets/badge_flag.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/badge_flag.imageset/Exclude.png
  NEMODU/NEMODU/Support/Assets.xcassets/badge_flag.imageset/Exclude@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/badge_flag.imageset/Exclude@3x.png
Labels: 윤경, 지도, Feature, Network

#30 Feat/#26 record result network
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Map/Model/Request/RecordDataRequest.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/BlocksCntResponseModel.swift
  NEMODU/NEMODU/Screen/Map/ViewController/DetailMapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/RecordResultNC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/RecordResultVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/RecordResultVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/WalkingVM.swift
  NEMODU/NEMODU/Screen/Share/View/MiniMapVC.swift
  NEMODU/NEMODU/Screen/Share/View/NavigationBar.swift
Labels: 윤경, 지도, Feature, View, Network

#31 Feat/#27 onboarding view
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Base.lproj/LaunchScreen.storyboard
  NEMODU/NEMODU/Screen/Onboarding/OnboardingVC.swift
  NEMODU/NEMODU/Screen/Onboarding/OnboardingView.swift
  NEMODU/NEMODU/Support/AppDelegate.swift
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/emphasis.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/emphasis.imageset/Frame 7357.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/emphasis.imageset/Frame 7357@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/emphasis.imageset/Frame 7357@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding1.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding1.imageset/Group 6968.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding1.imageset/Group 6968@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding1.imageset/Group 6968@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding2.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding2.imageset/Group 7004.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding2.imageset/Group 7004@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding2.imageset/Group 7004@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding3.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding3.imageset/Group 7005.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding3.imageset/Group 7005@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/onboarding3.imageset/Group 7005@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/star.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/star.imageset/Star 1@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/star.imageset/Star 1@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Onboarding/star.imageset/star.png
  NEMODU/NEMODU/Support/Assets.xcassets/logo.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/logo.imageset/Group 6965@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/logo.imageset/Group 6965@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/logo.imageset/logo.png
Labels: 윤경, Feature, View, 온보딩

#33 Feat/#29 랭킹 목록 구현
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/ChallengeRanking/Challenge/ChallengeContainerCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Challenge/ChallengeListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ListTypeMenuBar/ListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ListTypeMenuBar/ListTypeMenuBarCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/NoListStatusTVFV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Ranking/RankingContainerCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Ranking/RankingListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Ranking/RankingTV/RankingUserTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Ranking/RankingTV/RankingWeeksNavigationTVHV.swift
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_left.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_left.imageset/arrow_left@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_left.imageset/arrow_left@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_left.imageset/arrow_left@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_right.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_right.imageset/arrow_right@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_right.imageset/arrow_right@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_right.imageset/arrow_right@3x.png
Labels: 희재, 랭킹/챌린지, Feature, View, 랭킹

#35 Feat/#32 mypage UI
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Extension/UIColor+.swift
  NEMODU/NEMODU/Global/Extension/UIStackView+.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/RecordResultVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MypageUserDataResponse.swift
  NEMODU/NEMODU/Screen/Mypage/View/BlockCntView.swift
  NEMODU/NEMODU/Screen/Mypage/View/ProfileView.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/MypageVM.swift
  NEMODU/NEMODU/Screen/Share/View/MiniMapVC.swift
  NEMODU/NEMODU/Screen/Share/View/RecordStackView.swift
  NEMODU/NEMODU/Screen/Share/View/RecordView.swift
  NEMODU/NEMODU/Support/Assets.xcassets/bell.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/bell.imageset/Noti.png
  NEMODU/NEMODU/Support/Assets.xcassets/bell.imageset/Noti@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/bell.imageset/Noti@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/friendsList.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/friendsList.imageset/Frame 7370.png
  NEMODU/NEMODU/Support/Assets.xcassets/friendsList.imageset/Frame 7370@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/friendsList.imageset/Frame 7370@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/myRecordList.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/myRecordList.imageset/Frame 7148.png
  NEMODU/NEMODU/Support/Assets.xcassets/myRecordList.imageset/Frame 7148@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/myRecordList.imageset/Frame 7148@3x.png
Labels: 윤경, 마이페이지, Feature, View, Network

#38 Feat/#37 랭킹목록 서버연결
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Ranking/Request/AreaRankingListRequestModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Ranking/Response/AccumulateRankingListResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Ranking/Response/AreaRankingListResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Ranking/Response/StepRankingListResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Ranking/RankingListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/View/ChallengeRankingMenuBar/ChallengeRankingMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/View/ChallengeRankingMenuBar/ChallengeRankingMenuBarCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/View/ListTypeMenuBar/ListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/View/ListTypeMenuBar/ListTypeMenuBarCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeContainerCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/ChallengeDoingTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/ChallengeFinishTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/ChallengeListTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/ChallengeWaitingTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/InvitedChallengeTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/ChallengeListTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/ChallengeTitleTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/InvitedChallengeTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/ChallengeRankingVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingContainerCVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingListTypeMenuBarCV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingTV/RankingUserTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingTV/RankingWeeksNavigationTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/ChallengeRankingVM.swift
Labels: 희재, 랭킹/챌린지, Network, 랭킹

#39 Feat/#36 my record data
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Mypage/Cell/MyRecordListTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/DataSource/MyRecordListDataSource.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Request/MyRecordListRequestModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MyRecordListResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/View/CalendarSelectStackView.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDataVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageNC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/MyRecordDataVM.swift
  NEMODU/NEMODU/Screen/TabBar/NEMODUTBC.swift
  NEMODU/Podfile
  NEMODU/Podfile.lock
Labels: 윤경, 마이페이지, Feature, View, Network

#43 Feat/#42 map filter
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/BlocksType.swift
  NEMODU/NEMODU/Global/Network/APIService.swift
  NEMODU/NEMODU/Global/Network/APISession.swift
  NEMODU/NEMODU/Screen/Map/Model/Request/Block.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/FriendProfileBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/MapFilterBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/MainVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/MapFilteVM.swift
  NEMODU/NEMODU/Screen/Share/View/MiniMapVC.swift
Labels: 윤경, 지도, Feature, View, Network

#46 Add/#44 UI design
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/NaviType.swift
  NEMODU/NEMODU/Global/Extension/Int+.swift
  NEMODU/NEMODU/Global/Extension/UIColor+.swift
  NEMODU/NEMODU/Global/Utils/Lottie/concentricCircles.json
  NEMODU/NEMODU/Screen/Map/Cell/TVC/ProceedingChallengeTVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/FriendProfileBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/CountdownVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/RecordResultVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/MyRecordListTVC.swift
  NEMODU/NEMODU/Screen/Mypage/View/BlockCntView.swift
  NEMODU/NEMODU/Screen/Mypage/View/ProfileView.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDataVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDetailVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageVC.swift
  NEMODU/NEMODU/Screen/Onboarding/OnboardingVC.swift
  NEMODU/NEMODU/Screen/Share/View/MiniMapVC.swift
  NEMODU/NEMODU/Screen/Share/View/ProfileRecordStackView.swift
  NEMODU/NEMODU/Support/Assets.xcassets/NavigationBtn/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/NavigationBtn/dismiss.imageset/Close.png
  NEMODU/NEMODU/Support/Assets.xcassets/NavigationBtn/dismiss.imageset/Close@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/NavigationBtn/dismiss.imageset/Close@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/NavigationBtn/dismiss.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/NavigationBtn/pop.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/NavigationBtn/pop.imageset/Frame 7385.png
  NEMODU/NEMODU/Support/Assets.xcassets/NavigationBtn/pop.imageset/Frame 7385@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/NavigationBtn/pop.imageset/Frame 7385@3x.png
  NEMODU/NEMODU/Support/Info.plist
Labels: 윤경, Feature, View

#47 Feat/#45 alert toast
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/AlertType.swift
  NEMODU/NEMODU/Global/Enum/ToastType.swift
  NEMODU/NEMODU/Global/Extension/UIViewController+.swift
  NEMODU/NEMODU/Screen/Share/View/AlertVC.swift
  NEMODU/NEMODU/Screen/Share/View/ToastView.swift
  NEMODU/NEMODU/Support/Assets.xcassets/warning.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/warning.imageset/Exclude.png
  NEMODU/NEMODU/Support/Assets.xcassets/warning.imageset/Exclude@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/warning.imageset/Exclude@3x.png
Labels: 윤경, Feature, View

#49 Feat/#48 record area UI
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Extension/Date+.swift
  NEMODU/NEMODU/Global/Extension/UIColor+.swift
  NEMODU/NEMODU/Global/Extension/UserDefaults+.swift
  NEMODU/NEMODU/Global/Network/urlResource.swift
  NEMODU/NEMODU/Screen/Map/Model/Request/RecordDataRequest.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/BlocksCntResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/MainMapResponseModel.swift
  NEMODU/NEMODU/Screen/Map/View/FriendAnnotation.swift
  NEMODU/NEMODU/Screen/Map/View/FriendAnnotationView.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/ChallengeListVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/FriendProfileVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/MainVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/MapFilteVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/RecordResultVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/WalkingVM.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Request/MyRecordListRequestModel.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDataVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/MyRecordDataVM.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/MypageVM.swift
  NEMODU/NEMODU/Screen/Share/View/AlertVC.swift
  NEMODU/NEMODU/Screen/Share/View/NemoduTextView.swift
  NEMODU/NEMODU/Support/AppDelegate.swift
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_down.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_down.imageset/Keyboard arrow down.png
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_down.imageset/Keyboard arrow down@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/arrow_down.imageset/Keyboard arrow down@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/kakaoBtn.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/kakaoBtn.imageset/Frame 7095.png
  NEMODU/NEMODU/Support/Assets.xcassets/kakaoBtn.imageset/Frame 7095@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/kakaoBtn.imageset/Frame 7095@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/logo_black.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/logo_black.imageset/Group 6965.png
  NEMODU/NEMODU/Support/Assets.xcassets/logo_black.imageset/Group 6965@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/logo_black.imageset/Group 6965@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/slogan.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/slogan.imageset/Group 6973.png
  NEMODU/NEMODU/Support/Assets.xcassets/slogan.imageset/Group 6973@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/slogan.imageset/Group 6973@3x.png
Labels: 윤경, 지도, 마이페이지, Feature, View, Network
