Repository dnd-side-project/dnd-7th-1-iOS, pull requests merged in 2023-05, with the labels that each got.

#159 [FIX] 초대받은 챌린지 수락 파라미터 대응
  NEMODU/NEMODU/Global/Enum/InvitedChallengeAcceptType.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/InvitedChallengeDetailTVHV.swift
Labels: 희재, 랭킹/챌린지, Network, 챌린지

#163 Feat/#161 알림함 화면 구성
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/NotificationListIcon.swift
  NEMODU/NEMODU/Global/Extension/UIString+.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/NotificationListTVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/NotificationBoxVC.swift
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/challenge_notification.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/challenge_notification.imageset/challenge_notification@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/challenge_notification.imageset/challenge_notification@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/challenge_notification.imageset/challenge_notification@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/challenge_notification_badge.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/challenge_notification_badge.imageset/challenge_notification_badge@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/challenge_notification_badge.imageset/challenge_notification_badge@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/challenge_notification_badge.imageset/challenge_notification_badge@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/frend_notification.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/frend_notification.imageset/frend_notification@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/frend_notification.imageset/frend_notification@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/frend_notification.imageset/frend_notification@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/frend_notification_badge.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/frend_notification_badge.imageset/frend_notification_badge@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/frend_notification_badge.imageset/frend_notification_badge@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/frend_notification_badge.imageset/frend_notification_badge@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/nemodu_badge.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/nemodu_badge.imageset/nemodu_badge@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/nemodu_badge.imageset/nemodu_badge@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/nemodu_badge.imageset/nemodu_badge@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/record_notification.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/record_notification.imageset/record_notification@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/record_notification.imageset/record_notification@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/record_notification.imageset/record_notification@3x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/record_notification_badge.imageset/Contents.json
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/record_notification_badge.imageset/record_notification_badge@1x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/record_notification_badge.imageset/record_notification_badge@2x.png
  NEMODU/NEMODU/Support/Assets.xcassets/Notification/record_notification_badge.imageset/record_notification_badge@3x.png
Labels: 희재, 마이페이지, Feature, View

#164 Refactor/#143 지도 사용성 및 구조 개선 (지도 대공사 3)
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/ChallengeColorType.swift
  NEMODU/NEMODU/Global/Enum/MapType.swift
  NEMODU/NEMODU/Global/Extension/UIApplication+.swift
  NEMODU/NEMODU/Global/Extension/UIViewController+.swift
  NEMODU/NEMODU/Global/Foundation/Loadable.swift
  NEMODU/NEMODU/Screen/Map/Model/Map.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ChallengeBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/UserMatrixResponseModel.swift
  NEMODU/NEMODU/Screen/Map/View/FriendAnnotation.swift
  NEMODU/NEMODU/Screen/Map/View/FriendAnnotationView.swift
  NEMODU/NEMODU/Screen/Map/View/MyAnnotation.swift
  NEMODU/NEMODU/Screen/Map/View/MyAnnotationView.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/MainVM.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/WalkingVM.swift
Labels: 윤경, 지도, Feature, View, Network, Refactor

#165 Add/#158 edit profile
  NEMODU/NEMODU/Global/Enum/AlertType.swift
  NEMODU/NEMODU/Global/Enum/ToastType.swift
  NEMODU/NEMODU/Global/Extension/UIViewController+.swift
  NEMODU/NEMODU/Screen/Login/ViewModel/UserInfoSettingVM.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/EditProfileVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyProfileVC.swift
  NEMODU/NEMODU/Screen/Share/View/AlertVC.swift
  NEMODU/NEMODU/Screen/Share/View/ToastView.swift
Labels: 윤경, 마이페이지, Feature, View

#168 Bug/#166 etc bugs
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Class/BaseViewController.swift
  NEMODU/NEMODU/Global/Enum/AlertType.swift
  NEMODU/NEMODU/Global/Enum/FriendStatusType.swift
  NEMODU/NEMODU/Global/Enum/ToastType.swift
  NEMODU/NEMODU/Global/Extension/UIApplication+.swift
  NEMODU/NEMODU/Global/Extension/UIViewController+.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/CreateWeekChallengeVC.swift
  NEMODU/NEMODU/Screen/Login/Model/UserDataModel.swift
  NEMODU/NEMODU/Screen/Login/ViewController/AddFriendsVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/EnterVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/LocationSettingVC.swift
  NEMODU/NEMODU/Screen/Login/ViewModel/EnterVM.swift
  NEMODU/NEMODU/Screen/Map/Cell/TVC/ProceedingChallengeTVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/ChallengeListBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/FriendProfileBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainNC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/RecordResultVC.swift
  NEMODU/NEMODU/Screen/Map/ViewModel/RecordResultVM.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/EditProfileVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/EditRecordMemoVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/FriendListVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDataVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDetailVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/MyRecordDataVM.swift
  NEMODU/NEMODU/Screen/Onboarding/OnboardingVC.swift
  NEMODU/NEMODU/Screen/Share/View/AlertVC.swift
  NEMODU/NEMODU/Screen/Share/View/ToastView.swift
  NEMODU/NEMODU/Screen/TabBar/NEMODUTBC.swift
Labels: bug

#181 Feat/#180 ContentSize에 따른 높이를 갖는 TableView 구현
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/MapFilterBottomSheet.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDetailVC.swift
  NEMODU/NEMODU/Screen/Share/View/ContentSizedTableView.swift
Labels: 윤경, Feature, View, Refactor

#188 [ADD]: AppIcon 적용
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/100.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/1024.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/114.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/120.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/128.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/144.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/152.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/16.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/167.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/172.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/180.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/196.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/20.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/216.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/256.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/29.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/32.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/40.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/48.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/50.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/512.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/55.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/57.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/58.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/60.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/64.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/66.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/72.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/76.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/80.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/87.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/88.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/92.png
  NEMODU/NEMODU/Support/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: 윤경, Feature

#187 Refactor/#171 마이페이지 친구 목록 대공사
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/AlertType.swift
  NEMODU/NEMODU/Global/Enum/FriendStatusType.swift
  NEMODU/NEMODU/Global/Enum/ToastType.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Challenge/Response/FriendsListResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/CreateWeekChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/SelectFriendsVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/View/FriendListView.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/View/SelectFriendsTVC.swift
  NEMODU/NEMODU/Screen/Login/Cell/AddFriendTVC.swift
  NEMODU/NEMODU/Screen/Login/Cell/FriendAddTVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/AddFriendsVC.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ChallengeBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/ProfileResponseModel.swift
  NEMODU/NEMODU/Screen/Map/Model/Response/UserBlockResponseModel.swift
  NEMODU/NEMODU/Screen/Map/ViewController/BottomSheet/FriendProfileBottomSheet.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/FriendListDefaultTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/FriendListTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/FriendRequestHandlingTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/FriendRequestTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/RecommendFriendTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Request/FriendDeleteRequestModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Request/FriendRequestHandlingModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MyProfileResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MypageUserDataResponse.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/EditProfileVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/FriendListVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/FriendsVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyProfileVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MypageVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/RecommendListVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/FriendListVM.swift
  NEMODU/NEMODU/Screen/Share/DataSource/FriendListDataSource.swift
  NEMODU/NEMODU/Screen/Share/Model/FriendDefaultInfo.swift
  NEMODU/NEMODU/Screen/Share/Model/FriendsListResponseModel.swift
  NEMODU/NEMODU/Screen/Share/Protocol/FriendListOutput.swift
  NEMODU/NEMODU/Screen/Share/View/AlertVC.swift
  NEMODU/NEMODU/Screen/Share/View/FriendCellProfileView.swift
  NEMODU/NEMODU/Screen/Share/View/ToastView.swift
Labels: 윤경, 마이페이지, View, Network, Refactor

#189 Chore/#184 내 운동 기록 -> 챌린지 연결 수정
  NEMODU/NEMODU/Screen/Map/Cell/TVC/ProceedingChallengeTVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDetailVC.swift
Labels: 윤경, 마이페이지

#185 Feat/#178 이용약관 및 앱 권한설정 안내 화면 수정
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Login/View/TermsConditionsAgreeView.swift
  NEMODU/NEMODU/Screen/Login/View/TermsConditionsDetailButton.swift
  NEMODU/NEMODU/Screen/Login/ViewController/SetAuthorityVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/TermsConditionsAgreementVC.swift
Labels: 희재, Feature, View, 로그인/회원가입

#176 Fix/#170 챌린지/랭킹 탭 Xcode 콘솔창 오류 문구 제거
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/ChallengeRanking/View/RankingUserView.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeDetail/ChallengeHistoryDetailVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/Cell/ChallengeListTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/ChallengeTitleTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeTV/HV/InvitedChallengeDetailTVHV.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/CreateChallengeSuccuessVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/CreateWeekChallengeVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/SelectFriendsVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/View/SelectFriendsTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/View/SelectFriendsView.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/AccumulateRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/AreaRankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingListVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/RankingTV/RankingUserTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Ranking/StepRankingListVC.swift
Labels: bug, 희재, 랭킹/챌린지

#190 Chore/#183 my record response model
  NEMODU/NEMODU/Global/Enum/DateType.swift
  NEMODU/NEMODU/Global/Extension/Date+.swift
  NEMODU/NEMODU/Global/Extension/Int+.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Mypage/Cell/MyRecordListTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/DetailRecordDataResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MyRecordListResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyRecordDetailVC.swift
Labels: 윤경, 마이페이지, Network, Refactor

#192 [FIX]: 영역 추가 경도 정확도 문제 해결
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
Labels: bug, 윤경, 지도

#196 Feat/#194 나의 프로필 사진 API 연결
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Map/ViewController/MyDetailMapVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MyProfileImageResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/MyDetailMapVM.swift
Labels: 윤경, 마이페이지, Feature, Network

#199 Feat/#169 로그아웃 & 회원 탈퇴
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/AlertType.swift
  NEMODU/NEMODU/Global/Extension/UIViewController+.swift
  NEMODU/NEMODU/Global/Network/APIService.swift
  NEMODU/NEMODU/Global/Network/APISession.swift
  NEMODU/NEMODU/Screen/Login/Model/UserDataModel.swift
  NEMODU/NEMODU/Screen/Login/ViewModel/UserInfoSettingVM.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Request/LogoutRequestModel.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/MyProfileVC.swift
  NEMODU/NEMODU/Screen/Share/View/AlertVC.swift
Labels: 윤경, Feature, View, Network, 로그인/회원가입

#195 Add/#182 챌린지 상세 지도 화면 구조 변경 및 제스처 연결
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Enum/ToastType.swift
  NEMODU/NEMODU/Global/Extension/CGPoint+.swift
  NEMODU/NEMODU/Global/Extension/UIImage+.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Challenge/Response/ChallengeDetailMapResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/Model/Challenge/Response/ChallengeHistoryDetailResponseModel.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeDetail/ChallengeDetailMapRankingTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeDetail/ChallengeDetailMapVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/ChallengeDetail/ChallengeHistoryDetailVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/Challenge/ChallengeDetailMapVM.swift
  NEMODU/NEMODU/Screen/Map/View/FriendAnnotationView.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MyDetailMapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/MyProfileImageResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/MyDetailMapVM.swift
  NEMODU/NEMODU/Screen/Share/View/ToastView.swift
Labels: 윤경, 랭킹/챌린지, Feature, View, Network, Refactor

#200 Feat/#172 signup pages
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Login/Model/UserDataModel.swift
  NEMODU/NEMODU/Screen/Login/ViewController/EnterVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/FriendRecommendSettingVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/LoginVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/SetAuthorityVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/TermsConditionsAgreementVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/UserInfoSettingVC.swift
Labels: 윤경, View, 로그인/회원가입

#204 Feat/#177 알림함 알림목록 서버연결
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Mypage/Cell/NotificationListTVC.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Request/RemoveNotificationListRequestModel.swift
  NEMODU/NEMODU/Screen/Mypage/Model/Response/NotificationBoxResponseModel.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/NotificationBoxVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/NotificationBoxVM.swift
Labels: 희재, 마이페이지, Network

#208 Feat/#173 recording stop
  NEMODU/NEMODU/Global/Class/BaseViewController.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MainVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
  NEMODU/NEMODU/Screen/Mypage/ViewController/NotificationBoxVC.swift
  NEMODU/NEMODU/Screen/Share/View/MiniMapVC.swift
Labels: 윤경, 지도, Feature, View

#210 Feat/#209 kakao token 갱신
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Global/Network/KakaoAPI.swift
  NEMODU/NEMODU/Global/Network/KakaoInterceptor.swift
  NEMODU/NEMODU/Screen/Mypage/ViewModel/RecommendListVM.swift
  NEMODU/NEMODU/Screen/Share/Model/NEMODUFriendListResponseModel.swift
Labels: 윤경, Feature, Network

#211 feat/#162 기록 중 기기 자동차/자전거 경고 푸시 알림 전송
  NEMODU/NEMODU/Screen/Map/Model/Map.swift
  NEMODU/NEMODU/Screen/Map/ViewController/MapVC.swift
Labels: 희재, 지도, Feature

#215 fix/#186 기기화면 대응 점검
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/CreateChallengeSuccuessVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/CreateWeekChallengeVC.swift
Labels: bug, 희재, 랭킹/챌린지, 마이페이지, View, 챌린지, 랭킹

#212 Feat/#207 챌린지 생성 - 친구추가 화면 내부 친구검색기능 추가
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/CreateWeekChallenge/SelectFriendsVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewController/Challenge/CreateChallenge/View/SelectFriendsTVC.swift
  NEMODU/NEMODU/Screen/ChallengeRanking/ViewModel/Challenge/SelectFriendsVM.swift
Labels: 희재, 랭킹/챌린지, Network, 챌린지

#217 Chore/#216 test fix
  NEMODU/NEMODU.xcodeproj/project.pbxproj
  NEMODU/NEMODU/Screen/Login/ViewController/FriendRecommendSettingVC.swift
  NEMODU/NEMODU/Screen/Login/ViewController/LoginVC.swift
  NEMODU/NEMODU/Screen/Map/ViewController/WalkingVC.swift
Labels: bug, 윤경, HOTFIX
